<div class="container mx-auto px-4">
  <div
    class="w-full border-2 border-dashed border-slate-300 text-slate-300 rounded bg-white p-2 mt-2"
  >
    <div
      class="relative w-full h-20 border border-solid border-slate-300 text-slate-300 rounded bg-zinc-400"
      @click="getProductList"
    >
      <div class="absolute m-auto inset-0 w-fit h-fit">
        <span class="text-white font-bold tracking-wider">+ 匯出商品紀錄</span>
      </div>
    </div>
  </div>

  <!-- <div
    class="w-full border-2 border-dashed border-slate-300 text-slate-300 rounded bg-white p-2 mt-2"
  >
    <div class="w-full bg-zinc-300 text-zinc-800 rounded bg-white p-2 text-left">匯出狀態：</div>
    <div ref="readDataStatus" class="w-full text-zinc-800 rounded bg-white p-2 text-left">
      讀取資料中 ... 完成
    </div>
    <div ref="convertDataStatus" class="w-full text-zinc-800 rounded bg-white p-2 text-left">
      轉換資料中 ... 完成
    </div>
    <div ref="exportDataStatus" class="w-full text-zinc-800 rounded bg-white p-2 text-left">
      匯出 Excel 中 ... 完成
    </div>
    <div ref="allReadyStatus" class="w-full text-zinc-800 rounded bg-white p-2 text-left">
      匯出程序已完成 ...
      <span class="text-green-800" @click="getProductList()">開啟檔案</span>
    </div>
  </div> -->
</div>
<canvas ref="photoCanvas" width="50" height="50" class="hidden"></canvas>
